body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8f9fa;
  color: #333;
}

h1, h2, h3 {
  color: #2c3e50;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form input, form button {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  max-width: 300px;
}

form button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #2980b9;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book {
  flex: 1 1 calc(33% - 40px);
  background-color: #eef;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.book img {
  height: 200px;
  margin-bottom: 10px;
}

.book a {
  display: inline-block;
  padding: 9px 40px;
  font-size: 16px;
  text-decoration: none;
  background-color: #2980b9;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.book a:hover {
  background-color: #226999;
  color: #fff;
}

.book .unavailable {
  display: inline-block;
  padding: 9px 40px;
  font-size: 16px;
  text-decoration: none;
  background-color: #545759;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

nav {
  margin-bottom: 20px;
  padding: 1px 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position:sticky;
  top: 0;
}

nav a {
  display: inline-block;
  padding: 9px 40px;
  font-size: 16px;
  text-decoration: none;
  background-color: #2980b9;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

nav a:hover {
  background-color: #226999;
  color: #fff;
}

#continue {
  display: inline-block;
  padding: 9px 40px;
  font-size: 16px;
  text-decoration: none;
  background-color: #2980b9;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}